

body {
  box-sizing: border-box !important;
  width: 100vw;
  overflow-x: hidden;
}

@media (min-width: 1025px) {
  .h-custom {
    /* height: 100vh !important; */
  }
}

#tarjeta {
  width: 64em !important;
  margin: 0 auto !important; 

.card-body {
}
