#userDiv {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 1em !important;
  margin-bottom: 9em !important;
  margin: 0 auto;
  width: 30em;
  height: 45em;
  align-items: center;
  max-width: 95%;
  transition: box-shadow 0.3s ease-in-out;
  max-height: 95% !important;
}

.userDiv:hover {
  box-shadow: 0 0 18px rgb(186, 193, 190) !important;
}

.labels {
  font-weight: bold;
  margin-bottom: 5px;
}

.white-text {
  color: black;
}

.white-bg {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.profile-button {
  margin-right: 10px;
}

.profile-button {
  margin: 1em;
}
