#navbar {
  background-color: #ffffff !important;
  align-items: center;
  vertical-align: auto;
}
.navbar-brand {
  cursor: pointer;
}

basic-nav-dropdown {
  border: solid !important;
  border-color: black !important;
}
.nav-link {
  border: solid 1px !important;
  border-color: black !important;
  border-radius: 5px;
  padding: 5px !important;
}

#btn-cart {
  width: 6em;
  height: 1em !important;
  margin-bottom: 0;
}

.mx-4 {
  height: 2.5em;
  padding: 0;
  margin: 0;
}
