.footer-container {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
}

.container {
  flex: 1;
}

.developed-by {
  color: #000;
  font-size: 14px;
}

.footer-container {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}