.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  align-items: center !important;

  margin-right: 10%;
  margin-left: 10%;

  min-height: 100vh;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  box-sizing: border-box;
}

#loginCart {
  vertical-align: middle !important;
}

#loginCart {
  vertical-align: middle !important;
}

/* Media querys */
@media (max-width: 1200px) {
  .card-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .card-section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .card-section {
    grid-template-columns: 1fr;
  }
}